@import url('htpps://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&dislpay=swap');
body {
	background: linear-gradient(45deg, #b3173b, #4138c7) !important;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

section {
	display: grid;
	place-items:center;
	align-content: center;
	min-height: 120vh;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

a {
	text-decoration: none;
	color: #ffffff;
	font-size: 2em ;
}
