*{
  box-sizing: border-box !important;
}
body {
  background: linear-gradient(45deg, #E02852, #7938C7) !important;
  height: 100vh !important;
  width: 100vw !important;
}
a {
  text-decoration: none !important;
  color: #ffffff !important;
}
.logo-img {
  height: 1.8em !important;
}

.gratitute {
  display: flex !important;
  justify-content: center !important;
  align-items: end !important;
  color:#f1f1f1 !important;
  font-size: 1.3em !important;
}

.demo-heading {
  cursor: default !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: 2.2em !important;
  color:#FFC7D4 !important;
  font-size: 1.9em !important;
  text-transform: uppercase !important;
}
.navbar-items {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  padding: 0.8em 0em 0em 3.5em !important;
  margin-bottom: 2em !important;
}
.nav-item-box{
  padding-right: 1em !important;
}
.navbar-items a{
  font-size: 2em !important;
}